/* 
Author     : Carlos Ramos
*/

* {
    padding:0;
    margin:0;
}
body{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
}
table{
    width:100%;
}
td{
    padding:5px;
}
th{
    background-color:#008CFF;
    color:#FFF;
    padding:5px;
    text-align:center;
}
tr:hover{
    background-color:#FFF9DF;
}
label{
    font-weight:bold;
    width:200px;
    float:left;
}
input, textarea{
    padding:3px;
}
form p{
    margin:10px 0;
}
a{
    text-decoration:none;
    color:#008CFF;
}
a:hover{
    color:#003D6F;
}
/*** Header ****/
.header{
    height:100px;
    width:800px;
    margin:0 auto;
}
.header h1 a{
    margin:10px;
}
.menu{
    float:right;
    margin:10px;
}
/**** body ****/
.body{
    width:800px;
    margin:0 auto;
}
.body h1, .body h2{
    margin:10px 0;
    font-size:18px;
    color:#001C9F;
}
.body p{
    margin:10px 0;
}
.body a{
    padding:5px;
}
.medio {
    text-align:center;
}
/*** errores *****/
.errorExplanation{
    background-color:#FFDFDF;
}
.errorExplanation{
    padding:20px;
}
.errorExplanation h2{
    color:#BF0000;
    font-size:15px;
}
.errorExplanation ul, .errorExplanation li{
    margin-left:10px;
}
.fieldWithErrors input, .fieldWithErrors textarea{
    border: 1px solid #BF0000;
}
.fieldWithErrors label{
    color: #BF0000;
}
.clear{
    clear:both;
}
/* Paginacion */
.pagination {
    background: white;
    margin:10px;
/* self-clearing method: */ }
.pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
.pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
.pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
.pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
.pagination a:hover, .pagination a:focus {
    color: #003;
    border-color: #003; }
.pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
.pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em; }
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* Flash mesages */
#flash{
    padding:10px;
    background-color:#DFFFE3;
    border: solid 1px #00AF18;
}
#mensaje{
    background:#FFFFDF;
    padding:10px;
}